.footer {
    position: sticky;
    bottom: 0;
    text-align: center;
    padding: var(--padding-padrao);
    background-color: var(--cor-header);
}

.footerFixado {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: var(--padding-padrao);
    background-color: var(--cor-header);
}